## Deliverable 3. Create a Travel Itinerary Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

#pulling config file from main directory 1 level up 
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
sys.path.append("../")

# Import the API key.
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [31]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
import os

# # Specify the file to write to
# file_outpath = os.path.join("..", "output", "../Vacation_Search/weatherpy_vacation.csv")
# with open(file_outpath, 'r') as vacation_df:

vacation_df = pd.read_csv("Vacation_Search/weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Current Description,Hotel Name
0,1,Hithadhoo,MV,82.96,overcast clouds,-0.6000,73.0833,overcast clouds,Scoop Guest House
1,2,Kapaa,US,81.48,broken clouds,22.0752,-159.3190,broken clouds,Sheraton Kauai Coconut Beach Resort
2,3,Panalingaan,PH,79.75,broken clouds,8.7842,117.4231,broken clouds,I Love Panalingaan View Deck
3,4,Saint George,US,99.43,clear sky,37.1041,-113.5841,clear sky,Best Western Plus Abbey Inn
4,5,Hilo,US,85.28,few clouds,19.7297,-155.0900,few clouds,Hilo Hawaiian Hotel

In [32]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vocation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [33]:
locations

         Lat       Lng
0    -0.6000   73.0833
1    22.0752 -159.3190
2     8.7842  117.4231
3    37.1041 -113.5841
4    19.7297 -155.0900
..       ...       ...
261  -6.2641  107.0712
262  16.7333   82.2167
263  43.2128  -75.4557
264  40.9730 -117.7357
265  10.7000  -12.2500

[266 rows x 2 columns]

In [34]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=vocation_info)


# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Lompoc']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Malartic']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Los Alamos']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Omaha'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Ingham']

In [36]:
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Current Description,Hotel Name
29,83,Lompoc,US,71.62,broken clouds,34.6391,-120.4579,broken clouds,"Holiday Inn Express Lompoc, an IHG Hotel"

In [37]:
#numpy changes it to an array. This is just to check the array

test_start = vacation_start.to_numpy()
test_start

array([[83, 'Lompoc', 'US', 71.62, 'broken clouds', 34.6391, -120.4579,
        'broken clouds', 'Holiday Inn Express Lompoc, an IHG Hotel']],
      dtype=object)

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [25]:
start

array([34.6391, -120.4579], dtype=object)

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3, vacation_end]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Current Description,Hotel Name
0,83,Lompoc,US,71.62,broken clouds,34.6391,-120.4579,broken clouds,"Holiday Inn Express Lompoc, an IHG Hotel"
1,609,Los Alamos,US,86.68,clear sky,35.8881,-106.3070,clear sky,Holiday Inn Express & Suites Los Alamos Entrad...
2,445,Omaha,US,71.33,scattered clouds,41.2586,-95.9378,scattered clouds,DoubleTree by Hilton Hotel Omaha Downtown
3,292,Ingham,US,78.98,scattered clouds,42.6000,-84.3833,scattered clouds,Sunset Mobile Home Park
4,653,Malartic,CA,73.94,broken clouds,48.1335,-78.1328,broken clouds,Camping Regional De Malartic

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))